---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
    <h2>Welcome</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi deleniti
        soluta ex aspernatur itaque quia corrupti vero earum, voluptates iure
        explicabo, voluptate amet sequi officia expedita molestias atque
        repudiandae eveniet!
    </p>
</Layout>
